node_modules
npm-debug.log
.npm
.git
.gitignore
README.md
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.nyc_output
coverage
.cache
dist
.DS_Store
*.log
logs
.vscode
.idea
.next
.nuxt
.out
.parcel-cache
.vercel
.turbo